<!DOCTYPE html>
<html ng-app="laptopControllers">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>FastShop</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="style.css" rel="stylesheet">
    <script src="src/lib/angular/angular.js"></script>
    <script src="src/js/controllers.js"></script>

</head>

<body  ng-controller="PhoneListCtrl">

<div class="wrapper">
	<header class="header">
		<div class="logo">
			<span class="first">fast</span><span class="second">Shop</span>
		</div>
	</header><!-- .header-->

	<div class="middle">

		<div class="container">
			<main class="content">
				<ul class="items">
                    <li ng-repeat="laptop in laptops" ng-dblclick="addInBasket(laptop)">
                        <div class="item">
                            <img ng-src="{{ laptop.img }}" >
                            <div class="item-name">{{ laptop.name }}</div>
                            <div class="item-price">{{ laptop.prise }}</div>
                        </div>
                    </li>
				</ul>
			</main><!-- .content -->
		</div><!-- .container-->

		<aside class="right-sidebar">
			<div class="basket">
				<div class="basket-title">Корзина</div>
				<ul class="basket-content">
					<li ng-repeat="buy in basket" ng-dblclick="delInBasket(buy)">
						<div class="basket-name">{{buy.name}}</div>
						<div class="basket-price">{{buy.price}}</div>
					</li>
				</ul>
                <div>Sum of buy : {{ sumPrice }}</div>
			</div>
		</aside><!-- .right-sidebar -->

	</div><!-- .middle-->

</div><!-- .wrapper -->

</body>
</html>